In [5]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("~/Dropbox/Classes/CS 109A/CS 109A Final project/data/Socio-economicData/California_District_all.csv")

In [4]:
data[:5]

,Topic,Subject,Title,District 01 Estimate,District 01 MOE,District 02 Estimate,District 02 MOE,District 03 Estimate,District 03 MOE,District 04 Estimate,...,District 49 Estimate,District 49 MOE,District 50 Estimate,District 50 MOE,District 51 Estimate,District 51 MOE,District 52 Estimate,District 52 MOE,District 53 Estimate,District 53 MOE
0,People,Sex and Age,Total population,718214,(+/- 5619 ),717999,(+/- 4737 ),750271,(+/- 5937 ),748410,...,747350,(+/- 9745 ),754388,(+/- 11300 ),746496,(+/- 14825 ),768240,(+/- 17624 ),774182,(+/- 19922 )
1,People,Sex and Age,Male,361669,(+/- 4056 ),355157,(+/- 3889 ),377559,(+/- 4923 ),372022,...,381654,(+/- 8448 ),373209,(+/- 7231 ),382717,(+/- 8174 ),386749,(+/- 10926 ),380329,(+/- 11708 )
2,People,Sex and Age,Female,356545,(+/- 3969 ),362842,(+/- 3672 ),372712,(+/- 4622 ),376388,...,365696,(+/- 7003 ),381179,(+/- 8805 ),363779,(+/- 9224 ),381491,(+/- 10650 ),393853,(+/- 12631 )
3,People,Sex and Age,Under 5 years,37045,(+/- 1522 ),34567,(+/- 1497 ),46386,(+/- 2034 ),35270,...,45387,(+/- 5356 ),53098,(+/- 4358 ),53273,(+/- 3437 ),41803,(+/- 3743 ),49538,(+/- 4094 )
4,People,Sex and Age,5 to 9 years,39823,(+/- 2533 ),41780,(+/- 3074 ),49290,(+/- 2722 ),44924,...,46347,(+/- 4313 ),45216,(+/- 4205 ),50006,(+/- 3735 ),39523,(+/- 3880 ),42695,(+/- 3600 )

In [11]:
# list(np.arange(3, len(data.columns), 2))

In [12]:
district_col_nums = list(np.arange(3, len(data.columns),2))

In [14]:
for i in range(len(district_col_nums)):
    print(data[2, district_col_nums[i]])

KeyError: (2, 3)

In [7]:
male=df[df['Title']=="Male"]
female=df[df['Title']=="Female"]

In [14]:
female['State'] = 'AL'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
female

,Topic,Subject,Title,District (At Large) Estimate,District (At Large) MOE,State
2,People,Sex and Age,Female,283536,(+/- 2452 ),Wyoming_District_At_Large.csv

In [19]:
import os.path
os.getcwd()

'/Users/poojatyagi/Dropbox (MIT)/CS109_project_data'

In [48]:
female=[]
male=[]
gender=[]
for f in os.listdir('/Users/poojatyagi/Dropbox (MIT)/CS109_project_data/'):
    if f.endswith('.csv'):
        df=pd.DataFrame(pd.read_csv(f))
        male=df[df['Title']=="Male"]
        female=df[df['Title']=="Female"]
        female['State'] = f
        male['State'] = f
        gender.append(female.append(male))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [102]:
gender

AttributeError: 'list' object has no attribute 'set_index'

In [103]:
a=pd.melt(gender[1], id_vars=['Title'], value_vars=['District (At Large) Estimate'])
b=pd.melt(gender[51], id_vars=['Title'], value_vars=['District (At Large) Estimate'])

In [104]:
a.append(b)

    Title                      variable   value
0  Female  District (At Large) Estimate  354019
1    Male  District (At Large) Estimate  385776
0  Female  District (At Large) Estimate  283536
1    Male  District (At Large) Estimate  295779