In [583]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snsplt
from collections import Counter
import os.path

In [111]:
os.getcwd()

'/Users/poojatyagi/Dropbox (MIT)/CS109_project_data'

In [365]:
f='/Users/poojatyagi/Dropbox (MIT)/CS109_project_data/Arizona_District_all.csv'
df=pd.DataFrame(pd.read_csv(f))
df.iloc[24,3:len(df):2]

District 01 Estimate    12252
District 02 Estimate      NaN
District 03 Estimate    14404
District 04 Estimate    11579
District 05 Estimate    36692
District 06 Estimate    41386
District 07 Estimate    21843
District 08 Estimate    32293
District 09 Estimate    38442
Name: 24, dtype: object

In [780]:
#index of data in CSV
medage_csv=16
unemprate_csv=96
medhhincome_csv=196
bachdeg_csv=240
totpop_csv = 19
black_csv = 22
asian_csv = 24
hispanic_csv = 29

In [843]:
medianage=[]
unemprate=[]
medianhhincome=[]
bachdegree=[]
blackpop=[]
asianpop=[]
hispanicpop=[]
totalpop=[]
filename=[]
num_districts=[]
statename=[]

for f in os.listdir('/Users/poojatyagi/Dropbox (MIT)/CS109_project_data/'):
    if f.endswith('.csv'):
        df=pd.DataFrame(pd.read_csv(f))
        a1=np.transpose(df.iloc[medage_csv,3:len(df):2]) #Median age data from csv
        a2=np.transpose(df.iloc[unemprate_csv,3:len(df):2])  #Unemployment rate data from csv
        a3=np.transpose(df.iloc[medhhincome_csv,3:len(df):2])  #Median household income data from csv
        a4=np.transpose(df.iloc[bachdeg_csv,3:len(df):2])  # bachelors degree or higher (percent) data from csv
        a5=np.transpose(df.iloc[black_csv,3:len(df):2]) #Black population
        a6=np.transpose(df.iloc[asian_csv,3:len(df):2]) #Asian population
        a7=np.transpose(df.iloc[hispanic_csv,3:len(df):2]) #Hispanic population
        totpop=np.transpose(df.iloc[totpop_csv,3:len(df):2]) #Total population
        
        #Index should be in the form statename_district#
        sname=f.partition('_District')[0].replace("_"," ")
        a1.index=[sname+'_'+a1.index[i].split()[1] for i in range(len(a1))]
        a2.index=[sname+'_'+a2.index[i].split()[1] for i in range(len(a2))]
        a3.index=[sname+'_'+a3.index[i].split()[1] for i in range(len(a3))]
        a4.index=[sname+'_'+a4.index[i].split()[1] for i in range(len(a4))]
        a5.index=[sname+'_'+a5.index[i].split()[1] for i in range(len(a5))]
        a6.index=[sname+'_'+a6.index[i].split()[1] for i in range(len(a6))]
        a7.index=[sname+'_'+a7.index[i].split()[1] for i in range(len(a7))]
        totpop.index=[sname+'_'+totpop.index[i].split()[1] for i in range(len(totpop))]
        
        #Create a list of district level data
        medianage.append(a1)
        unemprate.append(a2)
        medianhhincome.append(a3)
        bachdegree.append(a4)
        blackpop.append(a5)
        asianpop.append(a6)
        hispanicpop.append(a7)
        totalpop.append(totpop)  
        filename.append(f)
        num_districts.append(len(a1))
        statename.append(sname)

In [844]:
assert len(unemprate)==len(medianage) == len(medianhhincome) == len(bachdegree)

In [845]:
med_age_df=pd.DataFrame(medianage[0])
unemp_rate_df=pd.DataFrame(unemprate[0])
med_hh_income_df=pd.DataFrame(medianhhincome[0])
bach_degree_df=pd.DataFrame(bachdegree[0])
blackpop_df= pd.DataFrame(blackpop[0])
asianpop_df= pd.DataFrame(asianpop[0])
hispanicpop_df= pd.DataFrame(hispanicpop[0])
totpop_df= pd.DataFrame(totalpop[0])
                        
for i in range(1,len(medianage)):
    med_age_df=pd.concat([med_age_df, pd.DataFrame(medianage[i])],axis=0)
    unemp_rate_df=pd.concat([unemp_rate_df, pd.DataFrame(unemprate[i])],axis=0)
    med_hh_income_df=pd.concat([med_hh_income_df, pd.DataFrame(medianhhincome[i])],axis=0)
    bach_degree_df=pd.concat([bach_degree_df, pd.DataFrame(bachdegree[i])],axis=0)
    blackpop_df=pd.concat([blackpop_df, pd.DataFrame(blackpop[i])],axis=0)
    asianpop_df=pd.concat([asianpop_df, pd.DataFrame(asianpop[i])],axis=0)
    hispanicpop_df=pd.concat([hispanicpop_df, pd.DataFrame(hispanicpop[i])],axis=0)
    totpop_df=pd.concat([totpop_df, pd.DataFrame(totalpop[i])],axis=0)

In [846]:
print("Total number of districts is: {}".format(np.sum(num_districts)))

Total number of districts is: 435

In [847]:
new_state_list=[]

for i in range(len(statename)):
    new_state_list.append([str(statename[i])]*len(medianage[i]))

new_state_list_df=pd.DataFrame(new_state_list[0])

for i in range(1,len(new_state_list)):
    new_state_list_df=pd.concat([new_state_list_df, pd.DataFrame(new_state_list[i])],axis=0)

In [848]:
df_list=[unemp_rate_df,med_hh_income_df,bach_degree_df, blackpop_df,asianpop_df,hispanicpop_df,totpop_df]
df_new= med_age_df
for i in df_list:
    df_new=pd.merge(df_new,i, how='left', left_index=True, right_index=True)

df_new.columns=['Median_Age','Unemployment_Rate','Median_HH_Income','Percent_BachDegree',
'Black','Asian','Hispanic','TotalPop']

In [851]:
df_new.shape

(435, 8)

In [858]:
df_new=df_new.astype(float)

In [859]:
df_data=df_new.copy()
df_data=df_data.astype(float)

In [860]:
df_data['Black']=df_new['Black']/df_new['TotalPop']*100
df_data['Asian']=df_new['Asian']/df_new['TotalPop']*100
df_data['Hispanic']=df_new['Hispanic']/df_new['TotalPop']*100
df_data=df_data.drop(['TotalPop'], axis=1)

In [861]:
df_data['Label']=df_data.index
df_data=df_data.reset_index(drop=True)

In [863]:
new_state_list_df=new_state_list_df.reset_index(drop=True)
new_state_list_df.columns = ['StateName']
df_data=pd.concat([df_data,new_state_list_df],axis=1)

In [795]:
# print("# of districts \t State")
# print("----------------|-----------")
# for i in range(len(num_districts)):
#     print(num_districts[i], "\t\t|", statename[i])

In [698]:
state_abbs = pd.read_csv("/Users/poojatyagi/Dropbox (MIT)/CS109_project_data/Usefuldata/state_abbreviations_correspondence_table.csv"
                         , sep = "\t")

In [864]:
StateAbb=[None] * len(df_data)
for j in range(len(df_data)):
    for i in range(len(state_abbs)):
        if (df_data['StateName'][j]==  state_abbs.iloc[i,0]):
            StateAbb[j]=state_abbs.iloc[i,1]

df_data['StateAbb'] = StateAbb
df_data=df_data.drop(['Label'], axis=1)

In [873]:
df_data.head()

,Median_Age,Unemployment_Rate,Median_HH_Income,Percent_BachDegree,Black,Asian,Hispanic,StateName,StateAbb
0,40.0,5.8,9430.0,25.0,27.866024,1.502222,3.080417,Alabama,AL
1,38.5,6.2,7824.0,23.1,30.735289,1.140735,3.629841,Alabama,AL
2,38.1,5.3,9757.0,21.7,26.344710,1.650556,2.880274,Alabama,AL
3,40.7,6.0,7358.0,17.9,7.173333,0.563487,6.704806,Alabama,AL
4,39.5,4.7,14764.0,31.9,17.981308,1.807815,5.196789,Alabama,AL

In [879]:
df_grouped=df_data.groupby('StateAbb').mean()

,Median_Age,Unemployment_Rate,Median_HH_Income,Percent_BachDegree,Black,Asian,Hispanic
StateAbb,,,,,,,
AK,34.500000,7.600000,21169.000000,28.800000,2.988260,6.675498,6.990045
AL,38.885714,5.914286,10239.285714,25.414286,27.021497,1.363950,4.143068
AR,38.350000,5.675000,11410.500000,23.225000,15.524257,1.544734,7.263079
AZ,38.012500,5.787500,15029.500000,28.250000,4.379168,3.310451,31.477738
CA,36.747170,6.032075,20700.641509,32.811321,5.739184,14.488338,39.266800
CO,36.985714,4.285714,23352.571429,41.014286,4.038361,3.168310,21.520283
CT,41.000000,6.080000,23639.200000,38.680000,10.590873,4.559303,16.080327
DE,40.100000,5.300000,25921.000000,31.500000,21.867915,4.047034,9.308283
FL,42.540741,5.533333,13616.000000,29.588889,16.242322,2.797026,25.396091
GA,36.821429,5.857143,14620.857143,30.471429,31.607571,3.827477,9.491612