In [1]:
import pandas as pd

In [7]:
male=df[df['Title']=="Male"]
female=df[df['Title']=="Female"]

In [14]:
female['State'] = 'AL'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
female

,Topic,Subject,Title,District (At Large) Estimate,District (At Large) MOE,State
2,People,Sex and Age,Female,283536,(+/- 2452 ),Wyoming_District_At_Large.csv

In [19]:
import os.path
os.getcwd()

'/Users/poojatyagi/Dropbox (MIT)/CS109_project_data'

In [48]:
female=[]
male=[]
gender=[]
for f in os.listdir('/Users/poojatyagi/Dropbox (MIT)/CS109_project_data/'):
    if f.endswith('.csv'):
        df=pd.DataFrame(pd.read_csv(f))
        male=df[df['Title']=="Male"]
        female=df[df['Title']=="Female"]
        female['State'] = f
        male['State'] = f
        gender.append(female.append(male))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [102]:
gender

AttributeError: 'list' object has no attribute 'set_index'

In [103]:
a=pd.melt(gender[1], id_vars=['Title'], value_vars=['District (At Large) Estimate'])
b=pd.melt(gender[51], id_vars=['Title'], value_vars=['District (At Large) Estimate'])

In [104]:
a.append(b)

    Title                      variable   value
0  Female  District (At Large) Estimate  354019
1    Male  District (At Large) Estimate  385776
0  Female  District (At Large) Estimate  283536
1    Male  District (At Large) Estimate  295779