In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snsplt
import os.path

In [111]:
os.getcwd()

'/Users/poojatyagi/Dropbox (MIT)/CS109_project_data'

In [365]:
f='/Users/poojatyagi/Dropbox (MIT)/CS109_project_data/Arizona_District_all.csv'
df=pd.DataFrame(pd.read_csv(f))
df.iloc[24,3:len(df):2]

District 01 Estimate    12252
District 02 Estimate      NaN
District 03 Estimate    14404
District 04 Estimate    11579
District 05 Estimate    36692
District 06 Estimate    41386
District 07 Estimate    21843
District 08 Estimate    32293
District 09 Estimate    38442
Name: 24, dtype: object

In [2]:
#index of data in CSV
medage_csv=16
unemprate_csv=96
medhhincome_csv=196
bachdeg_csv=240
totpop_csv = 19
black_csv = 22
asian_csv = 24
hispanic_csv = 29

In [5]:
os.listdir('~/Dropbox/Classes/CS 109A/CS 109A Final project/data/Socio-economicData')

FileNotFoundError: [Errno 2] No such file or directory: '~/Dropbox/Classes/CS 109A/CS 109A Final project/data/Socio-economicData'

In [4]:
medianage=[]
unemprate=[]
medianhhincome=[]
bachdegree=[]
blackpop=[]
asianpop=[]
hispanicpop=[]
totalpop=[]
filename=[]
num_districts=[]
statename=[]

for f in os.listdir('~/Dropbox/Classes/CS 109A/CS 109A Final project/data/Socio-economicData'):
    if f.endswith('.csv'):
        df=pd.DataFrame(pd.read_csv(f))
        a1=np.transpose(df.iloc[medage_csv,3:len(df):2]) #Median age data from csv
        a2=np.transpose(df.iloc[unemprate_csv,3:len(df):2])  #Unemployment rate data from csv
        a3=np.transpose(df.iloc[medhhincome_csv,3:len(df):2])  #Median household income data from csv
        a4=np.transpose(df.iloc[bachdeg_csv,3:len(df):2])  # bachelors degree or higher (percent) data from csv
        a5=np.transpose(df.iloc[black_csv,3:len(df):2]) #Black population
        a6=np.transpose(df.iloc[asian_csv,3:len(df):2]) #Asian population
        a7=np.transpose(df.iloc[hispanic_csv,3:len(df):2]) #Hispanic population
        totpop=np.transpose(df.iloc[totpop_csv,3:len(df):2]) #Total population
        
        #Index should be in the form statename_district#
        sname=f.split('_')[0]
        a1.index=[sname+'_'+a1.index[i].split()[1] for i in range(len(a1))]
        a2.index=[sname+'_'+a2.index[i].split()[1] for i in range(len(a2))]
        a3.index=[sname+'_'+a3.index[i].split()[1] for i in range(len(a3))]
        a4.index=[sname+'_'+a4.index[i].split()[1] for i in range(len(a4))]
        a5.index=[sname+'_'+a5.index[i].split()[1] for i in range(len(a5))]
        a6.index=[sname+'_'+a6.index[i].split()[1] for i in range(len(a6))]
        a7.index=[sname+'_'+a7.index[i].split()[1] for i in range(len(a7))]
        totpop.index=[sname+'_'+totpop.index[i].split()[1] for i in range(len(totpop))]
        
        #Create a list of district level data
        medianage.append(a1)
        unemprate.append(a2)
        medianhhincome.append(a3)
        bachdegree.append(a4)
        blackpop.append(a5)
        asianpop.append(a6)
        hispanicpop.append(a7)
        totalpop.append(totpop)  
        filename.append(f)
        num_districts.append(len(a1))
        statename.append(f.partition('_District')[0].replace("_"," "))

FileNotFoundError: [Errno 2] No such file or directory: '~/Dropbox/Classes/CS 109A/CS 109A Final project/data/Socio-economicData'

In [796]:
assert len(unemprate)==len(medianage) == len(medianhhincome) == len(bachdegree)

In [797]:
med_age_df=pd.DataFrame(medianage[0])
unemp_rate_df=pd.DataFrame(unemprate[0])
med_hh_income_df=pd.DataFrame(medianhhincome[0])
bach_degree_df=pd.DataFrame(bachdegree[0])
blackpop_df= pd.DataFrame(blackpop[0])
asianpop_df= pd.DataFrame(asianpop[0])
hispanicpop_df= pd.DataFrame(hispanicpop[0])
totpop_df= pd.DataFrame(totalpop[0])
                        
for i in range(1,len(medianage)):
    med_age_df=pd.concat([med_age_df, pd.DataFrame(medianage[i])],axis=0)
    unemp_rate_df=pd.concat([unemp_rate_df, pd.DataFrame(unemprate[i])],axis=0)
    med_hh_income_df=pd.concat([med_hh_income_df, pd.DataFrame(medianhhincome[i])],axis=0)
    bach_degree_df=pd.concat([bach_degree_df, pd.DataFrame(bachdegree[i])],axis=0)
    blackpop_df=pd.concat([blackpop_df, pd.DataFrame(blackpop[i])],axis=0)
    asianpop_df=pd.concat([asianpop_df, pd.DataFrame(asianpop[i])],axis=0)
    hispanicpop_df=pd.concat([hispanicpop_df, pd.DataFrame(hispanicpop[i])],axis=0)
    totpop_df=pd.concat([totpop_df, pd.DataFrame(totalpop[i])],axis=0)

In [798]:
print("Total number of districts is: {}".format(np.sum(num_districts)))

Total number of districts is: 435

In [799]:
new_state_list=[]

for i in range(len(statename)):
    new_state_list.append([str(statename[i])]*len(medianage[i]))

new_state_list_df=pd.DataFrame(new_state_list[0])

for i in range(1,len(new_state_list)):
    new_state_list_df=pd.concat([new_state_list_df, pd.DataFrame(new_state_list[i])],axis=0)

In [814]:
df_list=[unemp_rate_df,med_hh_income_df,bach_degree_df, blackpop_df,asianpop_df,hispanicpop_df,totpop_df]
df_new= med_age_df
for i in df_list:
    df_new=pd.merge(df_new, i, left_index=True, right_index=True)

df_new.columns=['Median_Age','Unemployment_Rate','Median_HH_Income','Percent_BachDegree',
'Black','Asian','Hispanic','TotalPop']

In [811]:
df_new=df_new.drop_duplicates(subset=['Black'])

In [818]:
df_new.duplicated(subset='Black') == True

Alabama_01       False
Alabama_02       False
Alabama_03       False
Alabama_04       False
Alabama_05       False
Alabama_06       False
Alabama_07       False
Alaska_(At       False
Arizona_01       False
Arizona_02       False
Arizona_03       False
Arizona_04       False
Arizona_05       False
Arizona_06       False
Arizona_07       False
Arizona_08       False
Arizona_09       False
Arkansas_01      False
Arkansas_02      False
Arkansas_03      False
Arkansas_04      False
California_01    False
California_02    False
California_03    False
California_04    False
California_05    False
California_06    False
California_07    False
California_08    False
California_09    False
                 ...
Virginia_04      False
Virginia_05      False
Virginia_06      False
Virginia_07      False
Virginia_08      False
Virginia_09      False
Virginia_10      False
Virginia_11      False
Washington_01    False
Washington_02    False
Washington_03    False
Washington_04    False
Washington_05    False
Washington_06    False
Washington_07    False
Washington_08    False
Washington_09    False
Washington_10    False
West_01          False
West_02          False
West_03          False
Wisconsin_01     False
Wisconsin_02     False
Wisconsin_03     False
Wisconsin_04     False
Wisconsin_05     False
Wisconsin_06     False
Wisconsin_07     False
Wisconsin_08     False
Wyoming_(At      False
Length: 140343, dtype: bool

In [658]:
df_new=df_new.astype(float)
df_new.head()

,Median_Age,Unemployment_Rate,Median_HH_Income,Percent_BachDegree,Black,Asian,Hispanic,TotalPop
Alabama_01,40.0,5.8,9430.0,25.0,198799.0,10717.0,21976.0,713410.0
Alabama_02,38.5,6.2,7824.0,23.1,207087.0,7686.0,24457.0,673776.0
Alabama_03,38.1,5.3,9757.0,21.7,187176.0,11727.0,20464.0,710488.0
Alabama_04,40.7,6.0,7358.0,17.9,49177.0,3863.0,45965.0,685553.0
Alabama_05,39.5,4.7,14764.0,31.9,129234.0,12993.0,37350.0,718713.0

In [686]:
df_data=df_new.copy()
df_data=df_data.astype(float)

In [687]:
df_data['Black']=df_new['Black']/df_new['TotalPop']*100
df_data['Asian']=df_new['Asian']/df_new['TotalPop']*100
df_data['Hispanic']=df_new['Hispanic']/df_new['TotalPop']*100
df_data=df_data.drop(['TotalPop'], axis=1)

In [693]:
df_data['Label']=df_data.index
df_data=df_data.reset_index(drop=True)

,Median_Age,Unemployment_Rate,Median_HH_Income,Percent_BachDegree,Black,Asian,Hispanic,Label
0,40.0,5.8,9430.0,25.0,27.866024,1.502222,3.080417,Alabama_01
1,38.5,6.2,7824.0,23.1,30.735289,1.140735,3.629841,Alabama_02
2,38.1,5.3,9757.0,21.7,26.344710,1.650556,2.880274,Alabama_03
3,40.7,6.0,7358.0,17.9,7.173333,0.563487,6.704806,Alabama_04
4,39.5,4.7,14764.0,31.9,17.981308,1.807815,5.196789,Alabama_05

In [710]:
new_state_list_df=new_state_list_df.reset_index(drop=True)
new_state_list_df.columns = ['StateName']
df_data=pd.concat([df_data,new_state_list_df],axis=1)

In [795]:
# print("# of districts \t State")
# print("----------------|-----------")
# for i in range(len(num_districts)):
#     print(num_districts[i], "\t\t|", statename[i])

In [698]:
state_abbs = pd.read_csv("/Users/poojatyagi/Dropbox (MIT)/CS109_project_data/Usefuldata/state_abbreviations_correspondence_table.csv"
                         , sep = "\t")

In [756]:
StateAbb=[None] * len(df_data)
for j in range(len(df_data)):
    for i in range(len(state_abbs)):
        if (df_data['StateName'][j]==  state_abbs.iloc[i,0]):
            StateAbb[j]=state_abbs.iloc[i,1]

df_data['StateAbb'] = StateAbb
df_data=df_data.drop(['Label'], axis=1)

In [764]:
df_data.head()

,Median_Age,Unemployment_Rate,Median_HH_Income,Percent_BachDegree,Black,Asian,Hispanic,0,StateName,StateAbb
0,40.0,5.8,9430.0,25.0,27.866024,1.502222,3.080417,Alabama,Alabama,AL
1,38.5,6.2,7824.0,23.1,30.735289,1.140735,3.629841,Alabama,Alabama,AL
2,38.1,5.3,9757.0,21.7,26.344710,1.650556,2.880274,Alabama,Alabama,AL
3,40.7,6.0,7358.0,17.9,7.173333,0.563487,6.704806,Alabama,Alabama,AL
4,39.5,4.7,14764.0,31.9,17.981308,1.807815,5.196789,Alabama,Alabama,AL